*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fca5a5;
  width: 100%;
  height: 100vh;
}

.coaster{
  position: absolute;
  width: 36vmin;
  height: 3vmin;
  background-color: #AE431E;
  border-radius: 50%/100%;
  bottom: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 2px 0.5;
}

.body-cup{
  position: absolute;
  width: 23vmin;
  height: 30vmin;
  background: #bef264;
  bottom: 55%;
  border-radius: 10% 10% 2% 2%;
  
}

.cup-shine{
  position: absolute;
  bottom: 2px;
  border-top: 27vmin solid #bef264;
  border-right: 22vmin solid transparent;
  
}

.top-cup{
  position: absolute;
  width: 23vmin;
  height: 4vmin;
  background-color: #D06224;
  bottom: 88%;
  border-radius: 50%/100%;
}

.handel{
  position: absolute;
  width: 15vmin;
  height: 16vmin;
  background: #bef264;
  border-radius: 50%;
  bottom:2%;
  right: -5vmin;
  bottom: 7vmin;
}

.handel-space{
  position: absolute;
  width: 8vmin;
  height: 10vmin;
  background: #fca5a5;
  border-radius: 50%;
  bottom:2%;
  right: 3vmin;
  bottom: 3vmin;
}

.eyes{
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: black;
  border-radius: 50%;
  bottom: 8vmin;
  right: 5vmin;
  box-shadow: -6vmin 0 black; 
  animation: blink 1s infinite;
}

@keyframes blink{
  0%{
    transform: scale(1,0.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.cheeks{
  position: absolute;
  width: 3vmin;
  height: 1.5vmin;
  bottom: 6vmin;
  right: 3vmin;
  background-color: rgb(189, 36, 36);
  opacity: 20%;
  border-radius: 50%;
  box-shadow: -9vmin 0 rgb(189 36 36);
}

.vapours{
  position: relative;
  display: flex;
  z-index: 1;
}

.vapours span{
  position: relative;
  display: block;
  height: 22vmin;
  background-color: aliceblue;
  min-width: 1vmin;
  bottom: 18vmin;
  margin: 0 6px 100px;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(7px);
  animation-delay:calc(var(--v) * -0.5s) ;
}

@keyframes animate{
  0%{
    transform: translateY(0) scaleX(1) ;
  }
  15%{
    opacity: 1;
  }
  50%{
    transform: translateY(-100px) scaleX(5) ;
  }
  95%{
    opacity: 0;
  }
  100%{
    transform: translateY(-300px) scaleX(10) ;
  }
}



/*
Copyright (c) 2021 by Rakhi Shukla (https://codepen.io/raa514/pen/WNZrMGN)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


*/
